section.service {
    padding: 5em 0px;
}

.service_wrapper {
    display: flex;
    gap: 1.5em;
    align-items: center;
}

.accordion_box {
    border: 1px solid #ddd;
    padding: 1em;
    width: 100%;
    cursor: pointer;
}

.service_cool {
    width: 40%;
}

.accordion {
    width: 40%;
}

/* Media Query */

@media (max-width:520px) {
    .service_wrapper {
        flex-direction: column;
    }


    .service_cool {
        width: 100%;
    }
}