/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap');

/* Variable */
:root {
  --primary-color: #0054ff;
  --white-color: #fff;
  --dark-color: #333
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

a,
span,
strong,
input,
select,
text,
button {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
  object-fit: cover;
}

.logo {
  width: 180px;
  object-fit: cover;
}

.app_btn {
  font-size: 1em;
  font-weight: 400;
  padding: 1em 2em;
  border: none;
  cursor: pointer;
  outline: none;
}

.primary_btn {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.outline_btn {
  outline: 2px solid var(--primary-color);
  color: var(--dark-color);
  background-color: transparent;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1em;
}

/* Media Query */
@media (max-width:520px) {
  .app_btn {
    padding: 1em 1.5em;
    font-size: 0.8em;
  }
}